/*general centering and formatting*/

body{
background-color: white;
}

h1 {
text-align: center;
font-family: arial;
color: #000;
}

p {
    text-align: center;
    font-family: arial;
}

figcaption {
    text-align: center;
    font-weight: bold;
    font-family: arial;
}

/*prices bigger*/
.price{
    font-size: 18px;
    font-style: normal;
}

/*dates bolded*/
.date{
    font-weight: bold;
}

/*index page buttons and buttons for other pages*/
.indexbutton{
    padding: 5px;
border: none;
background: black;
text-align: center;
display: block;
margin-left: auto;
margin-right: auto;
width: 70%;
margin-bottom: 10px;
color: white;
}

.indexbutton:hover {
  background-color: rgb(62, 62, 62);
    font-weight: normal;
    }
    
/*making the jordans blog header*/
header{
text-align: center;
background-color: black;
line-height: 150px;
margin-bottom: 0px;
font-size: 3em;
font-weight: bold;
}

/*block quotes and centering said blockquotes*/
blockquote p {
padding: 15px;
background: black;
color: white;
border-radius: 5px;
}

.center {
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}

/*Style stuff for link buttons*/ 

.photolinkbutton{
padding: 5px;
background: black;
color: white;
text-align: center;
display: block;
margin-left: auto;
margin-right: auto;
width: 30%;
margin-bottom: 10px;
}






/*Stlye stuff for the navigation bar*/
ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: black;
line-height: 30px;
}

li {
float: left;
font-size: 16px;
font-family: arial;
font-weight: normal;
}

li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

li a:hover {
background-color: rgb(62, 62, 62);
/*font-weight: bold;*/
color: white;
}




/*Making the footer style*/
footer {
text-align: center;
padding: 5px;
background-color: black;
color: white;
font-family: arial;
}

/*column stuff*/
.column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
