/*general centering and formatting*/

body{
background-color: white;
}

h1 {
text-align: center;
font-family: arial;
color: #000;
}



h2 {
  font-size: 20px;
  font-weight: normal;
  margin: 20px;
}

p {
    text-align: center;
    font-family: arial;
}

figcaption {
    text-align: center;
    font-weight: bold;
    font-family: arial;
}

/*prices bigger*/
.price{
    font-size: 18px;
    font-style: normal;
}

/*dates bolded*/
.date{
    font-weight: bold;
}

/*index page buttons and buttons for other pages*/
.indexbutton{
padding: 5px;
border: 4px black;
border-color: black;
border-style: solid;
border-left: none;
border-right: none;

background: white;
text-align: center;
display: block;
margin-left: auto;
margin-right: auto;
width: 70%;
margin-bottom: 10px;
color: black;
}

.indexbutton:hover {
  /*background-color: rgb(62, 62, 62);*/
  background-color: lightgray;
    font-weight: normal;
    }
    




/*making the jordans blog header*/
header{
text-align: center;
background-color: white;
line-height: 10px;
margin-bottom: 0px;
font-size: 1em;
font-weight: bold;
margin-top: 10px;
}

/*block quotes and centering said blockquotes*/
blockquote p {
padding: 15px;
background: white;
color: black;
border-top: solid;
border-bottom: solid;
}

.center {
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}

/*Style stuff for link buttons*/ 

.photolinkbutton{
padding: 5px;
background: white;
color: black;
text-align: center;
display: block;
margin-left: auto;
margin-right: auto;
width: 30%;
margin-bottom: 10px;
border-top: solid;
border-bottom: solid;
}






/*Stlye stuff for the navigation bar*/
ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: white;
line-height: 30px;
border-bottom: solid;


}

li {
float: left;
font-size: 16px;
font-family: arial;
font-weight: normal;
}

li a {
display: block;
color: black;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

li a:hover {
background-color: lightgray;
/*font-weight: bold;*/
color: black;
}




/*Making the footer style*/
footer {
text-align: center;
padding: 5px;
background-color: white;
color: black;
font-family: arial;
border-top: solid;
margin-top: 5px;
}

/*column stuff*/
.column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }








/*testing the image subpages*/
.test{
  width: 80%;
  margin: 0 auto; /* Center the container horizontally */
  border-top: 3px solid #000; /* Set border properties */
  border-right: none;
  border-left: none;
  overflow: hidden; /* Clear the floated columns */
  margin-bottom: 10px;
  position: relative;
}

.subpages {
  text-align: center;
  width: 100%;
}


/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}



/*testing stuff*/
.columnpic {
  display: inline-block;
  width: 30%;
  padding: 5px;
}

.columnpic2 {
  display: inline-block;
  width: 60%;
  padding: 5px;
}

.image-container {
  position: relative;
  width: 100%;
  
}

.image-container:hover{
  background-color: gray;
  opacity: .8;
}

.caption {
  position: absolute;
  bottom: 5%;
  left: 25%;
  width: 50%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7); /* Adjust background color and opacity as needed */
  color: #fff; /* Caption text color */
  padding: 5px;
}

.morebutton {
width: 100%;
height:100%;
padding: 15px;
  text-align: center;
  background:  rgb(200, 200, 200);
  color: black;
}

.morebutton:hover{
  background: rgb(170, 170, 170);
}

.morebuttoncontainer {
  position: relative;
  margin-right: 15.2%;
  margin-left: 75%;
  margin-top: 20px;
  margin-bottom: 20px;
  color: black;
}

.intro-container{
  left: 10%;
  position: relative;
  width: 80%;
}

