
/*general centering and formatting*/

body{
background-color: #eee;
}

h1 {
text-align: center;
background-color: #abbaba;
color: #000;
line-height: 55px;
margin-bottom: 0px;
}

p {text-align: center;}

figcaption {text-align: center;}

.date{
    font-weight: bold;
}

/*block quotes and centering said blockquotes*/

blockquote p {
padding: 15px;
background: #c3c9c9;
border-radius: 5px;
}

.center {
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}

/*Style stuff for link buttons*/ 

.linkbutton{
padding: 5px;
border-radius: 5px;
background: #c3c9c9;
text-align: center;
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
margin-bottom: 10px;
}

.photolinkbutton{
padding: 5px;
border-radius: 5px;
background: #c3c9c9;
text-align: center;
display: block;
margin-left: auto;
margin-right: auto;
width: 20%;
margin-bottom: 10px;
}

.link {
font-size: 20px; color:#1F9AFE;
}

.desc{
font-size: 16px; color: black;
}

/*Stlye stuff for the navigation bar*/

ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #c3c9c9;
}

li {
float: left;
}

li a {
display: block;
color: black;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

li a:hover {
background-color: #abbaba;
}

/*test*/
.navbar{
    width: 100%;
    padding-top: -10px;
    position: relative;
    margin-top: -10px;
}


/*Making the footer style*/

footer {
text-align: center;
padding: 5px;
background-color: #abbaba;
color: #000;
}


/*bolding photo captions */
figcaption{
    font-weight: bold;
}