
/*general centering and formatting*/

body{
background-color: #dad9d9;
}

h1 {
text-align: center;
font-family: arial;

color: #000;
/*
line-height: 55px;
background-color: #8b9093;
margin-bottom: 0px;
color: white;*/
}

p {
    text-align: center;
    font-family: arial;
}

figcaption {
    text-align: center;
    font-weight: bold;
    font-family: arial;
}

.price{
    font-size: 18px;
    font-style: normal;
}

.date{
    font-weight: bold;
}

/*making the jordans blog header*/

header{
    text-align: center;
background-color: #8b9093;
color: #000;
line-height: 150px;
margin-bottom: 0px;
font-size: 3em;
font-weight: bold;
}


/*block quotes and centering said blockquotes*/

blockquote p {
padding: 15px;
background: #afb3b6;
border-radius: 5px;
}

.center {
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}

/*Style stuff for link buttons*/ 

.linkbutton{
padding: 5px;

background: #afb3b6;
text-align: center;
display: block;
margin-left: auto;
margin-right: auto;
width: 70%;
margin-bottom: 10px;
}

.photolinkbutton{
padding: 5px;
border-radius: 5px;
background: #afb3b6;
text-align: center;
display: block;
margin-left: auto;
margin-right: auto;
width: 30%;
margin-bottom: 10px;
}



.linkbutton a:hover {
  
    font-weight: bold;
    }

.link {
font-size: 20px; color:black;
font-family: arial;
}

.desc{
font-size: 16px; color: black;
}

/*Stlye stuff for the navigation bar*/

ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #afb3b6;
line-height: 30px;
}

li {
float: left;
font-size: 16px;
font-family: arial;
font-weight: normal;
}

li a {
display: block;
color: black;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

li a:hover {
background-color: #8b9093;
font-weight: bold;
}




/*Making the footer style*/

footer {
text-align: center;
padding: 5px;
background-color: #8b9093;
color: #000;
font-family: arial;
}


/*column stuff*/

.column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
